@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}

body, html{
    background-image: linear-gradient(360deg, #025b6e, #064166 ); 
    width: 100vw;
    height: 100vh;

}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);


}

#image{
    display: block;
    background: url(../images/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 200px;

}

#form{
    display: block;
    padding: 10px;

}

#form > h1{
    text-align: center;
    margin-bottom: 10px;
}

#form > p{
    font-size: .8em;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #025b6e;
    color: #5cc0d6;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

form label{
    display: none;
}

.campo{
    background-color: #064166;
    border: 2px solid #064166;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    color: white;
}

.campo > span{
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input{
    background-color: #ffffff;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);

}

form > input[type=submit]:hover{
    background-color: #3a7a88;

}

.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #025b6e;
    border-radius: 8px;
    text-decoration: none;
    color: #025b6e;
}

.botao:hover{
    background-color: #5cc0d6;

}

.botao > span{
    font-size: .8em;
}